<h2 style="text-decoration: underline;">Welcome!</h2>

<form action="/signup" method="POST">
<div class="form-group">
   <label> Username
      <input class="form-control" type="text" name="username">
   </label>
   <label> Password
      <input class="form-control" type="password" name="password">
   </label>
</div>
   <button type="submit" class="btn btn-outline-info">Submit</button>
</form>

<p>Already have an account? <a href="/login">Login</a></p>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}