<h2>Don't go breaking my what?</h2>

<img id="quote" src="../images/quote.jpg" alt="quote"/>

<p class="help">Don't Break the Chain (or The Seinfeld Method) is a productivity strategy coined after comedian Jerry Seinfeld. The productivity method commits you to completing a daily goal for an extended period of time.</p>


<section class="container">
    
<section class="row" id="how-to">
    <article class="col col-12 col-lg-4">
        <img src="../images/list.png" alt="list image"/>
        <p>1. Create a Habit</p> 
    </article>
    <article class="col col-12 col-lg-4">
        <img src="../images/check.png" alt="check image"/>
        <p>2. Start a Chain</p> 
    </article>
    <article class="col col-12 col-lg-4">
        <img src="../images/chain.png" alt="check image"/>
        <p>3. Don't break it!</p> 
    </article>
</section>

