<h1>{{appTitle}}💔</h1>
<h3>Welcome, friend!</h3>

<section class="container">
    
<section class="row" id="how-to">
    <article class="col col-12 col-lg-4">
        <img src="../images/list.png" alt="list image"/>
        <p>1. Create a Habit</p> 
    </article>
    <article class="col col-12 col-lg-4">
        <img src="../images/check.png" alt="check image"/>
        <p>2. Start a Chain</p> 
    </article>
    <article class="col col-12 col-lg-4">
        <img src="../images/chain.png" alt="check image"/>
        <p>3. Don't break it!</p> 
    </article>
   
</section>


<section class="login-register">
<button class="btn btn-light">
    <a href="/signup">Sign Up</a>
</button>
<p>Or, if you already have an account, <a href="/login">Login</a></p>

</section>