<h1>{{appTitle}}💔</h1>
<p>Welcome, friend!</p>

<section class="how-to">
    <article>
        <img src="../images/list.png" alt="list image"/>
        <p>Create a Habit</p> 
    </article>
    <article>
        <img src="../images/check.webp" alt="check image"/>
        <p>Start a Chain</p> 
    </article>
    <article>
        <img src="../images/chain.png" alt="check image"/>
        <p>Don't break it!</p> 
    </article>
</section>

<section class="login/register">
<button>
    <a href="/signup">Sign Up</a>
</button>
<p>Or, if you already have an account, <a href="/login">Login</a></p>

</section>