</div><h3>Create a Habit</h3>

  <form action="/habits/new" method="POST">

    <label>
      Name:
      <input type="text" name="name"  />
    </label>

    <label>
      Frequency:
      <select name="frequency">
        <option value="Daily">Daily</option>
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
      </select>
    </label>

    <label>
      Number of Times:
      <input type="number" name="numberOfTimes" min="1" max="1000" />
    </label>

    <label>
      Unit:
      <select name="unit">
        <option value="Liters">Liters</option>
        <option value="Minutes">Minutes</option>
        <option value="Hours">Hours</option>
        <option value="Times">Times</option>
      </select>
    </label>

    <button type="submit"> Create </button>
    <button type="submit"> <a href="/habits">Back</a> </button>
  </form>
